<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Your Blog</title>
</head>
<body>
    <h1>Blog deleted successfully</h1>
    <button onclick="window.location.href = '/blogs'">Back to Blogs</button>
    
</body>
</html>